# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
**/node_modules/
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/mcp.json
/.vscode
.history/*

# Miscellaneous
.angular/
/.angular/cache
.sass-cache/
/.gemini
/.github
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
/angular-21-auth-boilerplate.md
/.agents
/backend_update_announce.md
/frontend_update_announce.md
/Building_a_NodeJS_TypeScript_MySQL_Boilerplate_API.md

__screenshots__/

# System files
.DS_Store
Thumbs.db

